doctype
html
    head
        title #{title}
        link(href='/css/bootstrap.min.css' type='text/css' rel='stylesheet')
    body
        header
            h1 #{message}
        .container
            .main-content
                form(method='post' action='/updatedata' id='adduser' class='form-group')
                    input(type='hidden' name='id' value=userdetaillist._id)
                    div(class='form-group')
                        label Firstname
                        input(type='text' name='fname' class='form-control' value=userdetaillist.fname)
                    div(class='form-group')
                        label Lastname
                        input(type='text' name='lname' class='form-control' value=userdetaillist.lname)
                    div(class='form-group')
                        label Marks
                        input(type='number' name='age' class='form-control' value=userdetaillist.age)
                    div(class='form-group')
                        input(type='submit' class='btn btn-primary' value='Update')
