html
    head
        title #{title}
        link(href='/css/bootstrap.min.css' type='text/css' rel='stylesheet')
        body
            h1(class='text-center') #{tabletitle}
            .container
                .main-content
                    .row(style="padding-bottom:20px")
                        a(type="button" class='btn btn-success' style='float:right; margin-right:20px' href="/useraddform") Insert
                    table(class='table table-striped text-center')
                        thead
                            tr
                                th(class='text-center') Firstname
                                th(class='text-center') Lastname
                                th(class='text-center') Marks
                                th(class='text-center') Update
                                th(class='text-center') Delete
                        tbody
                            each items in userdetaillist
                                tr
                                    td #{items.fname}
                                    td #{items.lname}
                                    td #{items.age}
                                    td
                                        a(href='/fetchsingle/' + items._id) Update
                                    td
                                        a(href='/delete/' + items._id) Delete

